body{
	
	padding:0;
	margin:0;

	.container{
		width:100vw;
		height:100vh;
		padding:10vw;
		margin:0 auto;
	}
	
	a{
		color:$color-primary;
		&:hover{
			text-decoration: none;
			color:$color-primary-hover;
		}
	}
	
}

