.btn {
	
  color: white;
  font-size: 16px;
  background-color: $color-primary;
  padding: 8px 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: $color-border-primary;
  cursor: pointer;
  transition: all 200ms ease;
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
  
  -moz-appearance: none;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    background-color: $color-primary-hover;
    color:#FFF;
  }
}


.btn--cart-tab {
  box-sizing: border-box;
  padding: 5px 25px 11px 11px;
  border-radius: 3px 0 0 3px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  opacity: 0;
  min-width: inherit;
  width: auto;
  height: auto;
  z-index: 2;

  &.js-active {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.btn__counter {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 18px;
}

.icon-cart--side {
  height: 20px;
  width: 20px;
}
