	.product{
		
		 h1{}
		 h2{
			 a{
				 text-decoration: none;
			 }
		 }
		 
		.options{

			user-select: none;
			margin:25px 0 25px 0;
			
			h4{
				border-bottom:1px solid $color-border-primary;
				padding:5px;
				margin:0 0 5px 0;
			}
			
			.variant-selectors{
				cursor: pointer;
				border-radius: 5px;
				background-color: #EEE;
				border:1px solid transparent;
				padding:10px;
				margin:5px;
				display:inline-block;
				
				&:hover{
					background-color: transparent;
					border:1px solid #EEE;
				}
			}
			
			.variant-selectors.on{
				background-color: transparent;
				border:1px solid #EEE;
			}	
		}
		
		.buy{
	
		
			width:100%;
			//margin:70vh auto;
			
			button{
				box-shadow: none;
				width:100%;
				padding:10px;
				font-size: 18px;
				font-weight: 200;
				letter-spacing: 3px;
				text-transform: uppercase;
				background-color: $color-primary;
				border:1px solid #CCC;
				border-radius: 5px;
				
				&:hover{
					cursor: pointer;
					color:#FFF;
					background-color: $color-primary-hover;
					border:1px solid #EEE;
				}
			}
		}
		
	}