.footer{
	
	position:relative;
	padding:65px;
	background-color: #000;
	color:#FFF;
	width:100%;
	height: 400px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	
	.copyright{
		position:absolute;
		bottom:35px;
		left:65px;
	}
	
	.contact{
		
		position:absolute;
		bottom:35px;
		right:65px;
		
		a{
			color:#FFF;
		}
	}
}