.header{
	position:fixed;
	top:0;
	left:0;
	height:45px;
	color:#FFF;
	width:100%;
	border-bottom: 1px solid $color-border;
	background-color:$color-primary;
	z-index: 500;
	
	a.logo{
		display:block;
		text-decoration: none;
		color:#FFF;
		padding:10px 40px 10px 40px;
		letter-spacing: 3px;
		font-size: 16px;
		user-select: none; 
	}
	
}

