.products{
	 margin: 60px 0 0 0;
	
	.product.thmb{
	    display:inline-block;
	    margin:1vw 1vw 5vw 1vw;
	    padding:0;
		width:25vw;
		vertical-align:top;
		clear:both;
		overflow:none;
		
		// image -------------
		a{
			.image{
				img.variant-image{
					width:100%;
					height:auto;
				}
			}
		}
		
		
		// title -------------
		a{
		
			h1.product-title{
				width:100%;
				height:auto;
			}
			
		}
		
		
		.variant-title{}
		.variant-price{}
		
		// buy
		.buy{
			
			//variants
			.options{
				
				h4{}
				.variant-selectors{}
			}
			
			//buy button
			button.buy-button{
				
			}
			
		}
		
	}
	
}