.product {
  padding: 30px;
  margin: 100px auto;
  line-height: 1;
}


.description{
	margin:25px 0 0 0;
	line-height: 22px;
}

.variant-title{

}

.variant-price {
	font-size: 20px;
	margin:20px 0 5px 0;
}

.product-title{
	margin:10px 0 15px 0;
	text-align: center;
}

.buy{
	width:50%;
	margin:0 auto;
}




.variant-selectors {
  margin: 20px 0 10px 0;
  color:#000;
  
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.shopify-select {
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  vertical-align: bottom;
  width: 100%;
}

.shopify-select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.select {
  font-size: 16px;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}

