body {
  padding: 0;
  margin: 0; }
  body .container {
    width: 100vw;
    height: 100vh;
    padding: 10vw;
    margin: 0 auto; }
  body a {
    color: #000; }
    body a:hover {
      text-decoration: none;
      color: #333; }

.btn {
  color: white;
  font-size: 16px;
  background-color: #000;
  padding: 8px 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #EEE;
  cursor: pointer;
  transition: all 200ms ease;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .btn:hover,
  .btn:focus {
    background-color: #333;
    color: #FFF; }

.btn--cart-tab {
  box-sizing: border-box;
  padding: 5px 25px 11px 11px;
  border-radius: 3px 0 0 3px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  opacity: 0;
  min-width: inherit;
  width: auto;
  height: auto;
  z-index: 2; }
  .btn--cart-tab.js-active {
    transform: translateY(-50%);
    opacity: 1; }

.btn__counter {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 18px; }

.icon-cart--side {
  height: 20px;
  width: 20px; }

.cart {
  position: fixed;
  width: 100%;
  max-width: 350px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2500;
  background: white;
  border-radius: 1px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
  color: #000; }
  .cart.js-active {
    transform: translateX(0);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1); }

.cart-section {
  position: relative;
  padding: 20px; }

.cart-section--top {
  z-index: 5; }

.cart-title {
  color: #000;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%; }

.btn--close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #000;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer; }
  .btn--close:hover {
    transform: scale(1.2);
    color: black; }

.cart-form {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 70px 0 140px 0; }

.cart-item-container {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  perspective: 400px;
  perspective-origin: 50% 0px; }

.cart-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }
  .cart-item.js-hidden {
    opacity: 0; }
  .cart-item.js-working:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2; }

.cart-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute; }

.cart-item__content {
  width: 100%;
  padding-left: 75px; }

.cart-item__content-row {
  margin-bottom: 5px; }

.cart-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #767676; }

.cart-item__quantity-container {
  border: 1px solid #767676;
  float: left;
  border-radius: 3px; }

.quantity-decrement, .quantity-increment {
  color: #767676;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center; }

.cart-item__quantity {
  color: black;
  width: 38px;
  height: 21px;
  font-size: inherit;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.cart-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold; }

.cart-bottom {
  border-top: 1px solid #FFF; }

.cart-info {
  padding: 15px 20px 10px; }

.cart-info__total {
  float: left;
  text-transform: uppercase; }

.cart-info__small {
  font-size: 11px; }

.cart-info__pricing {
  float: right; }

.cart-discount-notice {
  color: #000;
  margin-bottom: 10px; }

.cart-actions-container {
  padding-top: 5px; }

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black; }

.product {
  padding: 30px;
  margin: 100px auto;
  line-height: 1; }

.description {
  margin: 25px 0 0 0;
  line-height: 22px; }

.variant-price {
  font-size: 20px;
  margin: 20px 0 5px 0; }

.product-title {
  margin: 10px 0 15px 0;
  text-align: center; }

.buy {
  width: 50%;
  margin: 0 auto; }

.variant-selectors {
  margin: 20px 0 10px 0;
  color: #000; }
  .variant-selectors label {
    display: block;
    margin-bottom: 5px; }

.shopify-select {
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  vertical-align: bottom;
  width: 100%; }

.shopify-select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle; }

.select {
  font-size: 16px;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none; }

.products {
  margin: 60px 0 0 0; }
  .products .product.thmb {
    display: inline-block;
    margin: 1vw 1vw 5vw 1vw;
    padding: 0;
    width: 25vw;
    vertical-align: top;
    clear: both;
    overflow: none; }
    .products .product.thmb a .image img.variant-image {
      width: 100%;
      height: auto; }
    .products .product.thmb a h1.product-title {
      width: 100%;
      height: auto; }

.product h2 a {
  text-decoration: none; }

.product .options {
  user-select: none;
  margin: 25px 0 25px 0; }
  .product .options h4 {
    border-bottom: 1px solid #EEE;
    padding: 5px;
    margin: 0 0 5px 0; }
  .product .options .variant-selectors {
    cursor: pointer;
    border-radius: 5px;
    background-color: #EEE;
    border: 1px solid transparent;
    padding: 10px;
    margin: 5px;
    display: inline-block; }
    .product .options .variant-selectors:hover {
      background-color: transparent;
      border: 1px solid #EEE; }
  .product .options .variant-selectors.on {
    background-color: transparent;
    border: 1px solid #EEE; }

.product .buy {
  width: 100%; }
  .product .buy button {
    box-shadow: none;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #000;
    border: 1px solid #CCC;
    border-radius: 5px; }
    .product .buy button:hover {
      cursor: pointer;
      color: #FFF;
      background-color: #333;
      border: 1px solid #EEE; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
  color: #FFF;
  width: 100%;
  border-bottom: 1px solid #FFF;
  background-color: #000;
  z-index: 500; }
  .header a.logo {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 40px 10px 40px;
    letter-spacing: 3px;
    font-size: 16px;
    user-select: none; }

.footer {
  position: relative;
  padding: 65px;
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 400px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .footer .copyright {
    position: absolute;
    bottom: 35px;
    left: 65px; }
  .footer .contact {
    position: absolute;
    bottom: 35px;
    right: 65px; }
    .footer .contact a {
      color: #FFF; }
